<footer class="container-fluid">
    <div class="row">
        <div class="text-center">
            <ul class="list-inline">

            </ul>
            <p class="text-muted">
                Made by; <%= new Date().getFullYear() %>
            </p>
        </div>
    </div>
</footer>

</body>
</html>